.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background: linear-gradient(to bottom right, #FDA65D, #FFD07F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
}
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
h1, h2, h3{
    margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box; 
}
.inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
}

.header_text{
    margin-top: 5px;
    font-size: 25px;
    margin-left: 10px;
}
.preview{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section{
    background-color: white;
}
.main_title{
    font-size: 40px;
    font-weight: 700;
    display: block;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left: 10px;
}
.titlespan{
    color: #FF8243;
}
.btnLastNote{
    background-color: #E26A2C;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 19px;
    box-shadow: #E26A2C 0 0 0px;
    transition: .2s;
    margin-left: 10px;
}
.btnLastNote:hover{
    box-shadow: #E26A2C 0 0 10px;
}
.section_title{
    color: #E26A2C;
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}
.item{
    background-color:rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    transition: .2s;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 10px;
    color: white;
}
.item:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}
.itemsflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

@media (max-width:1024px) {
    .main_title{
        font-size: 35px;
    }
    .btnLastNote{
        font-size: 17px;
    }
}
@media (max-width:550px){
    .main_title{
        font-size: 35px;
        text-align: center;
    }
    .btnLastNote{
        font-size: 18px;
        text-align: center;
    }
    .header_text{
        font-size: 20px;
    }
    .inner{
        text-align: center;
    }
}
@media (max-width:390px){
    .main_title{
        font-size: 30px;
    }
    /* .btnLastNote{
        font-size: 17px;
        padding: 6px 12px
    } */
    .header_text{
        font-size: 18px;
        color: transparent;
    }
    .itemname{
        font-size: 15px;
    }
}
@media (max-width:316px){
    .main_title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .btnLastNote{
        font-size: 17px;
        padding: 7px 14px;
    }
    .header_text{
        font-size: 16px;
    }
}
@media (max-width:260px){
    .main_title{
        font-size: 20px;
    }
    .btnLastNote{
        font-size: 13px;
        padding: 6px 12px
    }
    .header_text{
        font-size: 14px;
    }
}